.layout {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
  background-color: #f9fafb;
}

.sidebar {
  width: 260px;
  height:100%;
  background: linear-gradient(to bottom, #6366f1, #4f46e5);
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}



.logo {
 margin-left: 40px;
}



.logoText {
  font-weight: 600;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding: 0.75rem 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.navItem.active {
  background-color: rgba(255, 255, 255, 0.1);
}

.navIcon {
  font-size: 1.2rem;
}

.logout {
  margin-bottom: 90px;
}

.main {
  flex-grow: 1;
  padding: 2rem;
  margin-left: 300px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.searchInput {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 1px solid #e5e7eb;
  width: 300px;
}

.profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  background-color: #e0e7ff;
  color: #4f46e5;
  width: 40px;
  height: 40px;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

.adminName {
  font-weight: 600;
}

.adminEmail {
  font-size: 0.875rem;
  color: #6b7280;
}



